/*
font-family: 'Amatic SC', cursive;
font-family: 'Oswald', sans-serif;
*/

.css-adaptiv {
	display: block;
	max-width: 100%;
	height: auto;
}

body {
	font-family: 'Amatic SC', cursive;
}

div.col-12 img {
	margin-top: 50%;	
}
