html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Basic
*/

html,
body {
    width: 100%;
    height: 100%;
}

.backwrap {
    background: #CBB878;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

.back-shapes {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.back-shapes img {
    opacity: 0.7;
    position: absolute;
    width: 2%;
}


/* download */

.download {
    position: relative;
    z-index: 1;
    height: 100%;
}

.download img {
    max-width: 100% !important;
    height: auto;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 1400px) {
    .back-shapes img {
        width: 3%;
    }
    .back-shapes em {
        font-size: 260%!important;
    }
}

@media screen and (max-width: 1000px) {
    .back-shapes img {
        width: 4%;
    }
    .back-shapes em {
        font-size: 230%!important;
    }
}

@media screen and (max-width: 600px) {
    .back-shapes img {
        width: 5%;
    }
    .back-shapes em {
        font-size: 180%!important;
    }
}

.floating {
    animation-name: floating;
    -webkit-animation-name: floating;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes floating {
    0% {
        transform: translateY(0%) rotate(-55deg);
    }
    50% {
        transform: translateY(300%) rotate(55deg);
    }
    100% {
        transform: translateY(0%) rotate(-55deg);
    }
}

@-webkit-keyframes floating {
    0% {
        -webkit-transform: translateY(0%);
    }
    50% {
        -webkit-transform: translateY(300%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}

@-webkit-keyframes floating {
    0% {
        -webkit-transform: translateY(0%);
    }
    50% {
        -webkit-transform: translateY(300%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}


/* Container styles
*/

@media (max-width:767px) {
    .container {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1200px;
    }
}

@media (max-width:1199px) {
    #content_overhead {
        display: none;
    }
    #sidebar {
        margin-top: 0;
    }
    #stream-2 {
        padding-right: 0;
    }
}
